In [51]:
import pandas as pd
import numpy as np
import datetime as dt
import lightgbm as lgb
import pycaret
from pycaret.regression import *
import optuna
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn import tree

warnings.filterwarnings('ignore')
optuna.logging.set_verbosity(optuna.logging.WARNING)

In [52]:
df = pd.read_csv('train_merged.csv')
ignore_features = ['datetime', 'is_congestion_tomorrow', 'date']
categorical_features = ['day_of_week', 'tomorrow_holiday', 'yesterday_holiday']

df['date'] = pd.to_datetime(df['date'])
df_train = df[df['date'] < dt.datetime(2023, 1, 1)]
df_test = df[df['date'] >= dt.datetime(2023, 1, 1)]

In [53]:
exp = setup(df_train, target='speed_diff', fold_strategy='timeseries', train_size=0.8, data_split_shuffle=False, fold_shuffle=False, use_gpu=False, ignore_features=ignore_features, categorical_features=categorical_features, fold=4, session_id=123)

In [54]:
catboost = create_model('catboost')

In [55]:
predict = predict_model(catboost, data=df_test).prediction_label

In [56]:
predict = predict.to_frame('speed_diff')
answer = df_test[['speed', 'speed_diff']]

predict['predict_speed'] = df_test['speed'] + predict['speed_diff']
answer['answer_speed'] = df_test['speed'] + answer['speed_diff']

predict['is_congestion'] = predict.eval('predict_speed < 40').astype(int)
answer['is_congestion'] = answer.eval('answer_speed < 40').astype(int)

In [57]:
accuracy = accuracy_score(answer['is_congestion'], predict['is_congestion'])
recall = recall_score(answer['is_congestion'], predict['is_congestion'])
precision = precision_score(answer['is_congestion'], predict['is_congestion'])
f1 = f1_score(answer['is_congestion'], predict['is_congestion'])

print('TN  FP\nFN  TP')
print(confusion_matrix(answer['is_congestion'], predict['is_congestion']))
print(f'Accuracy: {accuracy}')
print(f'Recall: {recall}')
print(f'Precisoin: {precision}')
print(f'F1 score : {f1}')

TN  FP
FN  TP
[[1442680      65]
 [   5152     407]]
Accuracy: 0.9963978556988036
Recall: 0.07321460694369492
Precisoin: 0.8622881355932204
F1 score : 0.13496932515337423

In [58]:
evaluate_model(catboost)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦